.header__login {
    cursor: pointer;
}

.header__logout-button {
    appearance: none;
    color: black;
    text-decoration: none;
}

.header__logout-button:hover {
    color: black;
}

.input_failed {
    border: 1px solid #dc3545;
}

.input__subtext {
    display: none;
}

.input_failed + .input__subtext {
    display: block;
    color: #dc3545;
}

.navbar-toggler {
    display: none;
}

@media (max-width: 1200px) {
    .navbar__container_pc > .categories {
        display: none;
    }

    .navbar-toggler {
        display: unset;
    }

    #navbar__collapse_mobile > .container > .categories {
        margin: auto;
    }

    .navbar-brand {
        display: none;
    }

    .user__options {
        width: 80%;
        justify-content: flex-end;
    }
}
